" .vimrc configuration for MyHost
set nocompatible

" --- General ---
set mouse=
set encoding=utf-8
set hidden
set undofile

" --- Interface & Visual ---
"set number
set showcmd             " Show current command in bottom right
set cursorline          " Highlight current line
set showmatch           " Highlight matching brackets
syntax on               " Enable syntax highlighting
set termguicolors       " Enable 24-bit RGB colors

" --- Tabs & Indentation ---
set expandtab           " Use spaces instead of tabs
set shiftwidth=4        " Size of an indentation
set tabstop=4           " Number of spaces tabs count for
set smartindent         " Insert indents automatically

" --- Search ---
set hlsearch            " Highlight search results
set incsearch           " Incremental search
set ignorecase          " Case insensitive search...
set smartcase           " ...unless search contains capitals