[Match]
MACAddress=0c:c4:7a:c5:59:f4

[Network]
# --- IPv4 ---
Address={{ server_ipv4_cidr }}
DNS=213.186.33.99
DNS=1.1.1.1
DNS=8.8.8.8

# --- IPv6 ---
Address={{ server_ipv6_cidr }}
IPv6AcceptRA=no
DNS=2606:4700:4700::1111
DNS=2001:4860:4860::8888

[Route]
# Route IPv4
Gateway={{ server_gateway_v4 }}
GatewayOnlink=yes

[Route]
# Route IPv6
Gateway={{ server_gateway_v6 }}
GatewayOnlink=yes


