================================================================
   Bienvenue sur {{ ansible_hostname }} !
   Système : {{ ansible_distribution }} {{ ansible_distribution_version }}
   Date    : {{ ansible_date_time.date }}
   Utilisateur : {{ ansible_user_id }}
================================================================
   Rappel : Toute modification non-documentée sera écrasée 
   par le prochain passage du playbook Ansible.
================================================================